# Xcode / Swift Playgrounds
.DS_Store
*.xcuserstate
xcuserdata/
DerivedData/
*.hmap
*.ipa
*.xcarchive
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
.swiftpm/xcode/

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/Build/

# OS
.DS_Store
.AppleDouble
.LSOverride
Thumbs.db

# Editors
*.swp
*.swo
*~
.idea/
.vscode/
